<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hfut.huangshan.mapper.DailyNumMapper">

    <!--开启二级缓存-->
    <cache eviction="FIFO"
           flushInterval="60000"
           size="512"
           readOnly="true"/>

    <!--映射-->
    <resultMap id="dailyNumMap" type="dailyNum">
        <result column="date_name" property="dateName"/>
        <result column="date_week" property="dateWeek"/>
        <result column="total_num" property="totalNum"/>
        <result column="eight_num" property="eightNum"/>
        <result column="nine_num" property="nineNum"/>
    </resultMap>

    <!--限制性全查询：降序前1000条-->
    <select id="getLimitAllDailyNum" resultMap="dailyNumMap">
        SELECT * FROM dailynum ORDER BY dailynum.date_name DESC LIMIT 1000
    </select>

    <!--按开始日期和结束日期查询  <![CDATA[ >= ]]> 是因为 > < 等直接写会认为是标签的 这里要么这么写 要么使用转义字符-->
    <select id="periodDailyNum" parameterType="String" resultMap="dailyNumMap">
        select * from dailynum where date_name <![CDATA[ >= ]]> #{startTime} and date_name <![CDATA[ <= ]]> #{endTime}
    </select>

</mapper>